*{
    margin: 0;
    padding: 0;  
    box-sizing: border-box;
}
.header {
    background-image: url(headerimg.avif);
    background-repeat: repeat-x;
    height: 32vw;
}
.navbar{
    height: 3vw;
    font-size: 1.5rem;
    background-color: black;
    opacity: 0.6;
    
}
.navbar ul{
    list-style: none;
    display: flex;
    justify-content: end;
}
.navbar ul li{
    margin: 1rem 1.5rem 0rem 1rem;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
}
/* dropdown menu  */
.navbar ul ul{
    position: absolute;
    display: none;
    list-style: none;
}
.navbar ul li:hover > ul {
    display: block;
    background-color: rgb(3, 2, 2);
    opacity: 2;
    z-index: 1;
}
.headings {
    color: white;
    text-align: center;
    height: 20vw;
}

.headings h1 {
    padding-top: 10rem;
    font-size: 6rem;
}

.headings h2 {
    font-size: 4rem;
}
/* top food items */
h1{
    text-align: center;
    margin-top: 1rem;
}
.food-items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 25vw;
}
.first-item{
    width: 27vw;
    height: 20vw;
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
}
.first-item p{
    font-size: 1.5rem;
    text-align: center;
}
.food-items img{
    width: 100%;
}
.checked{
    color: rgb(194, 233, 23);
}
.star{
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top .div1{
    border: 2px solid red;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin-left: ;
}
/* footer */
footer{
    background-color: black;
    color: whitesmoke;
    height: 12vw;
    display: flex;
    justify-content: space-around;
}
.follow{
    margin: 1.5vw;
    width: 10vw;
}
.address{
    margin: 1.5vw;
    width: 10vw;
}
.follow ul{
    list-style: none;
}
.follow ul li a{
    text-decoration: none;
    color: whitesmoke;
}
/* box-shadow css */
.first-item{
    animation: mymove 1000s infinite;
}
.first-item:hover{
    animation: mymove1 10s infinite;
}
@keyframes mymove{
    0% {
        box-shadow: 1.5vw 1.5vw 1.5vw rgb(30, 153, 220);
    }
}
@keyframes mymove1{
    15%{
        box-shadow: 1vw 1.5vw 1vw rgb(19, 116, 107);
    }
}